#assignment-instructions {
    color: aqua;
    font-family: sans-serif;
}

.li-2 code {
    color: green;
}

code {
    font-family: monospace;
    color: red;

}

body {

    font-family: sans-serif;
}

li + li {
    background-color: black;
    color: white;
}

ol li {
    background-color: black;
    color: white;
}





